.m1 {
	background-image: url(/images/bimg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
	border-radius: 25px;
}

.booking_form {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.m11 {
	display: flex;
	justify-content: start;
	gap: 20px
}

.input_group {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
}

.app_download {
	display: flex;
}


.input_group input {
	border: 1px solid #fff;
	border-radius: 25px;
	background-color: #fff;
	color: #000;
}

.in {
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 25px;
	background-color: #fff;
	color: #000;
	display: flex;
	justify-content: space-around;
	gap: 2px;
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;

}

.same a {
	color: #fff;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 56.74px;
	letter-spacing: -0.035em;
	text-align: left;

}

.app1 {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	text-align: left;
	color: #fff;
}


#quick-book-btn {
	width: 232px;
	padding: 10px 20px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 20px;
	color: #fff;
	cursor: pointer;
}

.booking {
	display: none;
}


.input_group button {
	width: 64px;
	border: 1px solid #fff;
	border-radius: 25px;
	background-color: #fff;
	color: #000;

}


#book {
	display: none;

}


#book1 {
	display: none;
}

#book2 {
	display: none;
}


@media(max-width:1024px) {

	.booking {
		display: flex;
		gap: 8px;
		justify-content: space-evenly;

	}


	#bookacar {
		display: block;
		background-color: #E21E26;
		padding: 3px 36px 3px 36px;
		gap: 8px;
		border-radius: 8px;
		font-family: Poppins;
		font-size: 13px;
		font-weight: 600;
		line-height: 19.5px;
		text-align: center;
		color: #fff;

	}


	#quickbook {

		display: block;
		padding: 3px 36px 3px 36px;
		gap: 8px;
		border-radius: 8px;
		border: 2px solid red;
		font-family: Poppins;
		font-size: 13px;
		font-weight: 600;
		line-height: 19.5px;
		text-align: center;
		color: #E21E26;
		background-color: #fff;
	}

	.input_group {
		display: none;
	}

	.m11 {
		display: none;
	}

	.app_download {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.store_buttons {
		display: flex;
		justify-content: center;
		gap: 0;
	}


	#book {
		display: none;
		gap: 1px;
	}

	#book a {
		color: #000000;
		text-decoration: none;
		font-family: Poppins;
		font-size: 13px;
		font-weight: 400;
		line-height: 56.74px;
		letter-spacing: -0.035em;
		text-align: left;
	}

	.book_button {
		background-color: #fff;
		border: 0;
	}


	#book1 {
		display: none;
	}

	#book2 {
		display: none;
	}


}